<div>
  <div class="well hoverwell thumbnail" [routerLink]="['/books', book.id]">
    <table class="table table-compact">
      <tr>
        <td scope="col" width="8%" valign="middle">
          <img src="{{book?.volumeInfo?.imageLinks?.smallThumbnail}}" />
        </td>
        <td scope="col" width="2%"></td>
        <td scope="col" valign="middle">
          <h2 [ngClass]="getMaturityRating()">{{book.volumeInfo?.title}}</h2>
          <div>Author: {{book.volumeInfo?.authors}}</div>
          <div>Published Date: {{book.volumeInfo?.publishedDate | date:'shortDate'}}</div>
          <div *ngIf="book.volumeInfo?.categories">Categories: {{book.volumeInfo?.categories}}</div>
          <div [ngClass]="getMaturityRating()"
               [ngSwitch]="book.volumeInfo?.maturityRating">
            <span *ngSwitchCase="'MATURE'">Mature</span>
            <span *ngSwitchDefault>Not Mature</span>
          </div>
          <div *ngIf="book.volumeInfo?.averageRating">Avg. Rating {{book.volumeInfo?.averageRating}}</div>
          <div *ngIf="book.volumeInfo?.ratingsCount">Ratings: {{book.volumeInfo?.ratingsCount}}</div>

        </td>
      </tr>
    </table>
  </div>
</div>

