<div class="container">
  <img [src]="book?.volumeInfo?.imageLinks?.thumbnail" [alt]="book?.volumeInfo?.title" class="book-image">

  <div class="row">
    <div class="col-md-11">
      <h2>{{book?.volumeInfo?.title}} </h2>
      <h4 *ngIf="book?.volumeInfo?.subtitle">{{book?.volumeInfo?.subtitle}}</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div>
        <strong>Author(s):</strong>
        <div *ngFor="let author of book?.volumeInfo?.authors">
          <span class="empty"></span>
          <span> {{author}} </span>
        </div>
      </div>
      <div *ngIf="book?.volumeInfo?.publisher || book?.volumeInfo?.publishedDate">
        <span *ngIf="book?.volumeInfo?.publisher"><strong>Publisher:</strong> {{book?.volumeInfo?.publisher}}</span>
        <span class="empty"></span>
        <span *ngIf="book?.volumeInfo?.publishedDate"><strong>Published Date:</strong> {{book?.volumeInfo?.publishedDate | date:'M-d-yyyy'}}</span>
      </div>
      <div *ngIf="ISBN13"><strong>ISBN13:</strong> {{ ISBN13 }}</div>
      <div *ngIf="ISBN10"><strong>ISBN10:</strong> {{ ISBN10 }}</div>
      <div *ngIf="ISBNOTHER"><strong>ISBNOTHER:</strong> {{ ISBNOTHER }}</div>
      <div *ngIf="book?.volumeInfo?.pageCount"><strong>Pages:</strong> {{book?.volumeInfo?.pageCount}}</div>
      <div *ngIf="book?.volumeInfo?.categories">
        <div>
          <strong>Categories:</strong>
          <div *ngFor="let category of book?.volumeInfo?.categories">
            <span class="empty"></span>
            <span>{{category}}</span>
          </div>
        </div>
        <div *ngIf="book?.volumeInfo?.description"><strong>Description:</strong> {{book?.volumeInfo?.description}}</div>
      </div>
      <div class="col-md-6" *ngIf="book?.volumeInfo?.seriesInfo?.bookDisplayNumber">
        <strong>Series Info:</strong><br />
        <div><strong>Series Number:</strong> {{book?.volumeInfo?.seriesInfo?.bookDisplayNumber}}</div>
      </div>
      <div class="pad-bottom"></div>
    </div>
    <hr />
    <book-dets [saleInfo]="book?.saleInfo"></book-dets>
    <hr />
    <div class="well">
      <button type="button" class="btn btn-default" (click)="sendGetRequest()">Get Details</button>
    </div>

</div>
