<div class="row">
  <div class="col-md-10">
    <div class="well">
      <h4> List Price: {{ saleInfo.listPrice?.amount | currency }} : {{ saleInfo.listPrice?.currencyCode }} </h4>
      <h4> Retail Price: {{ saleInfo.retailPrice?.amount | currency }} : {{ saleInfo.retailPrice?.currencyCode }} </h4>

      <div class="row" *ngFor="let offer of saleInfo.offers">
        <div class="col-md-10">
          <div class="well">
            <h4> Offer: {{ offer?.finskyOfferType }} </h4>
            <h4> List Price: {{ offer?.listPrice?.amountInMicros / 1000000 | currency}} : {{ offer.listPrice?.currencyCode }} </h4>
            <h4> Retail Price: {{ offer.retailPrice?.amountInMicros / 1000000 | currency }} : {{ offer.retailPrice?.currencyCode }} </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
