<div class="well">
  <table>
    <tr>
      <td>List Price:</td>
      <td>{{ saleInfo.listPrice?.amount | currency }} {{ saleInfo.listPrice?.currencyCode }}</td>
      <td></td>
      <td>Retail Price:</td>
      <td></td>
      <td>{{ saleInfo.retailPrice?.amount | currency }} {{ saleInfo.retailPrice?.currencyCode }}</td>
    </tr>
  </table>
</div>
<br />
<div class="well">
  <table>
    <tr>
      <td>Offer Type</td>
      <td>List Price</td>
      <td>Retail Price</td>
      <td>Link</td>
    </tr>
    <tr *ngFor="let offer of saleInfo.offers">
      <td>{{ getOffer(offer?.finskyOfferType) }}</td>
      <td>{{ getAmountInDollars(offer?.listPrice?.amountInMicros) | currency }} {{ offer.listPrice?.currencyCode }}</td>
      <td>{{ getAmountInDollars(offer.retailPrice?.amountInMicros) | currency }} {{ offer.retailPrice?.currencyCode }}</td>
      <td><a href="{{ offer?.buyLink }}">{{ offer?.buyLink }}</a></td>
    </tr>
  </table>
</div>
