<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/books']"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact:true}">Books</a>
        </li>
        <li>
          <a [routerLink]="['/games']"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact:true}">Games</a>
        </li>
      </ul>
      <div class="navbar-header navbar-right">
        <ul class="nav navbar-nav">
          <li>
            <a [routerLink]="['users/profile']">Welcome User</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
