.pagination /deep/ .ngx-pagination {
    padding-left: 0px !important;
}

.pagination /deep/ .ngx-pagination .current, .btn-info {
  background: #17a2b8 !important;
  border: transparent !important;
  border-radius: 20px !important;
}

.pagination /deep/ .ngx-pagination .current:hover {
    background: #1712b8 !important;
    border-radius: 40px !important;
  }
