<div ngClass="{'hidden':!loading}">
    All Books:
    <br />
    <div class="spinner">
      <!--<mat-paginator [length]="30"
                     [pageSize]="10"
                     [pageSizeOptions]="[5,10,25,100]">
      </mat-paginator>-->

      <mat-paginator
                   [length]="total"
                   [pageIndex]="currentPage"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   showFirstLastButtons
                   (page)="handlePage($event)">
      </mat-paginator>

      <div *ngFor="let book of booksToDisplay">
        <book-thumbnail (click)="handleThumbnailClick(book.volumeInfo.title)" [book]="book"></book-thumbnail>
      </div>

    </div>

    <h5>Powered by Google Books API.  Please re-enable.  1000 hits a day limit and 100 an hour.</h5>
  </div>
