<div>
  <h1>Register Your Account</h1>
  <hr>
  <div class="col-md-4">
    <form [formGroup]="profileForm" (ngSubmit)="saveProfile(profileForm.value)" autocomplete="off" novalidate>

      <div class="form-group" [ngClass]="{'error' : !validateUserName() }">
        <label for="userName">User Name:</label>
        <em *ngIf="!validateUserName() && profileForm.controls.userName.errors.required">Required</em>
        <em *ngIf="!validateUserName() && profileForm.controls.userName.errors.pattern">Must start with a letter</em>
        <input formControlName="userName" id="userName" type="text" class="form-control" placeholder="User Name..." />
      </div>

      <div class="form-group" [ngClass]="{'error' : !validatePassword() }">
        <label for="password">Password:</label>
        <em *ngIf="!validatePassword() && profileForm.controls.userName.errors.password">Required</em>
        <input formControlName="password" id="password" type="text" class="form-control" placeholder="Password..." />
      </div>

      <div class="form-group" [ngClass]="{'error' : !validateFirstName() }">
        <label for="firstName">First Name:</label>
        <em *ngIf="!validateFirstName() && profileForm.controls.firstName.errors.required">Required</em>
        <em *ngIf="!validateFirstName() && profileForm.controls.firstName.errors.pattern">Must start with a letter</em>
        <input formControlName="firstName" id="firstName" type="text" class="form-control" placeholder="First Name..." />
      </div>

      <div class="form-group" [ngClass]="{'error' : !validateLastName() }">
        <label for="lastName">Last Name:</label>
        <em *ngIf="!validateLastName() && profileForm.controls.lastName.errors.required">Required</em>
        <em *ngIf="!validateLastName() && profileForm.controls.lastName.errors.pattern">Must start with a letter</em>
        <input formControlName="lastName" id="lastName" type="text" class="form-control" placeholder="Last Name..." />
      </div>

      <div class="form-group" [ngClass]="{'error' : !validateEmail() }">
        <label for="email">Email:</label>
        <em *ngIf="!validateEmail()">Required</em>
        <input formControlName="email" id="email" type="text" class="form-control" placeholder="Email..." />
      </div>

      <div class="form-group" [ngClass]="{'error' : !validateCity() }">
        <label for="city">City:</label>
        <em *ngIf="!validateCity() && profileForm.controls.city.errors.required">Required</em>
        <em *ngIf="!validateCity() && profileForm.controls.city.errors.pattern">Must start with a letter</em>
        <input formControlName="city" id="city" type="text" class="form-control" placeholder="City..." />
      </div>

      <div class="form-group" [ngClass]="{'error' : !validateState() }">
        <label for="state">State:</label>
        <em *ngIf="!validateState() && profileForm.controls.state.errors.pattern">Must start with a letter</em>
        <input formControlName="state" id="state" type="text" class="form-control" placeholder="State..." />
      </div>

      <div class="form-group" [ngClass]="{'error' : !validateCountry() }">
        <label for="country">Country:</label>
        <em *ngIf="!validateCountry() && profileForm.controls.country.errors.required">Required</em>
        <em *ngIf="!validateCountry() && profileForm.controls.country.errors.pattern">Must start with a letter</em>
        <input formControlName="country" id="country" type="text" class="form-control" placeholder="Country..." />
      </div>

      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
    </form>
  </div>
</div>
