<div class="container-fluid">
  <!-- Header -->
  <div class="header" role="banner">
    <div class="d-flex justify-content-center">
      <img height="85"
           src="./assets/img/FROG.png" />
      <span class="title-font">Welcome to the Coming Soon <span class="header-smaller">(or Already Out)</span> Watchlist</span>
      <img height="70"
           src="./assets/img/Brak.png" />
    </div>
  </div>
  <br />
  <br />
  <nav-bar></nav-bar>
  <div class="content">
    <router-outlet></router-outlet>
  </div>

</div>

