<p>This is just a demo of template forms.</p>
<h1>New Book</h1>
<hr>
<div class="col-md-6">
  <form #newBookForm="ngForm" (ngSubmit)="saveBook(newBookForm.value)" autocomplete="off" novalidate>

    <div ngModelGroup="volumeInfo">
      <!-- Title -->
      <div class="form-group" [ngClass]="{'error': title?.invalid && title?.touched}">
        <label for="bookTitle">Title:</label>
        <input (ngModel)="newBook.title" #title="ngModel" name="title" required id="title" type="text" class="form-control" placeholder="Title of book..." />
        <em *ngIf="title?.invalid && (title?.touched)">Required</em>
      </div>

      <!-- Subtitle -->
      <div class="form-group">
        <label for="bookSubtitle">Subtitle:</label>
        <input (ngModel)="newBook.subtitle" #subtitle="ngModel" name="subtitle" required id="subtitle" type="text" class="form-control" placeholder="Subtitle of book..." />
      </div>

      <!-- Series number -->
      <div class="form-group">
        <label for="bookSeriesNumber">Book Series Number:</label>
        <input (ngModel)="newBook.bookDisplayNumber" #bookDisplayNumber="ngModel" name="bookDisplayNumber" required id="bookDisplayNumber" type="text" type="number" class="form-control" placeholder="Series Number..." />
      </div>

      <!-- Authors -->
      <div class="form-group" [ngClass]="{'error': authors?.invalid && authors?.touched}">
        <label for="bookAuthor">Author(s) (Put in Comma Separted List):</label>
        <em *ngIf="authors?.invalid && (authors?.touched)">Required</em>
        <!--<input (ngModel)="newBook.author[0]" #authors="ngModel" name="author" required id="author" type="text" class="form-control" placeholder="Author(s) of book..." />-->
        <input (ngModel)="formatAuthors(authors)" #authors="ngModel" name="author" required id="author" type="text" class="form-control" placeholder="Author(s) of book..." />
      </div>

      <!-- Publisher -->
      <div class="form-group" [ngClass]="{'error': publisher?.invalid && publisher?.touched}">
        <label for="bookPublisher">Publisher:</label>
        <em *ngIf="publisher?.invalid && (publisher?.touched)">Required</em>
        <input (ngModel)="newBook.publisher" #publisher="ngModel" name="publisher" required id="publisher" type="text" class="form-control" placeholder="Publisher of book..." />
      </div>

      <!-- Published Date -->
      <div class="form-group" [ngClass]="{'error': publishedDate?.invalid && publishedDate?.touched}">
        <label for="publishedDate">Published Date:</label>
        <em *ngIf="publishedDate?.invalid && (publishedDate?.touched)">Required</em>
        <input (ngModel)="newBook.publishedDate" #publishedDate ="ngModel" name="publishedDate" required id="publishedDate" type="text" class="form-control" placeholder="format (mm/dd/yyyy)..." />
      </div>

      <!-- ISBN13 -->
      <div ngModelGroup="industryIdentifiers">
        <div class="form-group" [ngClass]="{'error': ISBN13?.invalid && ISBN13?.touched}">
          <label for="bookISBN13">ISBN13:</label>
          <em *ngIf="ISBN13?.invalid && (ISBN13?.touched)">Required</em>
          <input (ngModel)="newBook.ISBN13[0]" maxlength="13" #ISBN13="ngModel" name="ISBN13" required id="ISBN13" type="text" class="form-control" placeholder="ISBN13 of book..." />
        </div>
      </div>

      <!-- Page Count -->
      <div class="form-group" [ngClass]="{'error': pageCount?.invalid && pageCount?.touched}">
        <label for="bookPageCount">Page Count:</label>
        <em *ngIf="pageCount?.invalid && (pageCount?.touched)">Required</em>
        <input (ngModel)="newBook.pageCount" #pageCount="ngModel" name="pageCount" required id="pageCount" type="text" type="number" class="form-control" placeholder="Page Count..." />
      </div>

      <!-- Categories -->
      <div class="form-group" [ngClass]="{'error': newBookForm.controls.categories?.invalid && newBookForm.controls.categories?.touched}">
        <label for="bookCategories">Categories:</label>
        <em *ngIf="newBookForm.controls.categories?.invalid && (newBookForm.controls.categories?.touched)">Required</em>
        <ng-select [items]="categories"
                   bindLabel="category"
                   placeholder="Select Categories"
                   appendTo="body"
                   multiple="true"
                   clearAllText="Clear"
                   [(ngModel)]="selectedCategories">
        </ng-select>
      </div>

      <!-- Description -->
      <div class="form-group" [ngClass]="{'error': description?.invalid && description?.touched}">
        <label for="bookDescription">Description:</label>
        <em *ngIf="description?.invalid && (description?.touched)">Required</em>
        <input (ngModel)="newBook.description" #description="ngModel" name="description" required id="description" type="text" class="form-control" placeholder="Description of book..." />
      </div>

      <!-- Thumbnail -->
      <div ngModelGroup="imageLinks">
        <div class="form-group" [ngClass]="{'error': thumbnail?.invalid && thumbnail?.touched}">
          <label for="thumbnail">Thumbnail:</label>
          <em *ngIf="thumbnail?.invalid && thumbnail?.touched && thumbnail?.errors.required">Required</em>
          <em *ngIf="thumbnail?.invalid && thumbnail?.touched  && thumbnail?.errors.pattern">Must be a png or jpg url</em>
          <input (ngModel)="newBook.thumbnail" #thumbnail="ngModel" name="thumbnail" required pattern=".*\/.*.(png|jpg)" id="thumbnail" type="text" class="form-control" placeholder="url of image..." />
          <img [src]="thumbnail.value"
               *ngIf="thumbnail?.valid" />
        </div>

        <!-- Small Thumbnail -->
        <div class="form-group" [ngClass]="{'error': smallthumbnail?.invalid && smallthumbnail?.touched}">
          <label for="smallthumbnail">Small Thumbnail:</label>
          <em *ngIf="smallthumbnail?.invalid && smallthumbnail?.touched && smallthumbnail?.errors.required">Required</em>
          <em *ngIf="smallthumbnail?.invalid && smallthumbnail?.touched  && smallthumbnail?.errors.pattern">Must be a png or jpg url</em>
          <input (ngModel)="newBook.smallthumbnail" #smallthumbnail="ngModel" name="smallthumbnail" required pattern=".*\/.*.(png|jpg)" id="smallthumbnail" type="text" class="form-control" placeholder="url of image..." />
          <img [src]="smallthumbnail.value"
               *ngIf="smallthumbnail?.valid" />
        </div>
      </div>
    </div>

  <button type="submit" class="btn btn-primary">Save</button>
  <button type="button" [disabled]="newBookForm.invalid" class="btn btn-default" (click)="cancel()">Cancel</button>
</form>
</div>
