/* You can add global styles to this file, and also import other style files */
.pointable {
  cursor: pointer;
}

button {
  color: #555;
}

[hidden] {
  display: none !important;
}

.toast-success {
  background-color: #51a351;
}

.toast-error {
  background-color: #bd362f;
}

.toast-info {
  background-color: #2f96b4;
}

.toast-warning {
  background-color: #f89406;
}

th, td {
    vertical-align: middle;
    padding-bottom: 5px;
}

.page-title-font {
  font-size: 40px;
}

.header {
  position: relative;
  top: 10px;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #666666;
  /*background-color: #2b5e96;*/
  /*color: #2b3e50;*/
  color: white;
  font-weight: 600;
  width: 100%;
}

.header-smaller {
  font-size: 10px;
}

.header-font {
  font-size: 25px;
}

.title-font {
  font-size: 40px;
}

.content {
  margin-top: 17px;
}

html, body {
  height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #737373;
}
